<div class="container-fluid">
  <div class="row menu-curso-online mb-0">
    <div class="col-auto">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link logo" href="#">Cursos Online</a>
      <a class="nav-link" href="#">Categorias</a>
    </div>
    <div class="col">
      <input type="text" class="form-control pesquisa" placeholder="Pesquisar por qualquer coisa">
    </div>
    <div class="col-auto">
      <a class="nav-link" href="#">Cursos Para Empresas</a>
      <a class="btn btn-primary text-white" [routerLink]="['/cadastro']" routerLinkActive="router-link-active">Cadastre-se</a>
    </div>
  </div>
</div>